header{
    display: block;
    background-color: #DDDDDD;
}

*{
    margin: 0px;
    font-family: Avenir, sans-serif;
}

header div{
    width: 40%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

header div ul{
    list-style-type: none;
}

header div ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

header div ul::after{
    content: "";
    display: table;
    clear: both;
}

header div a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

header div a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header div > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
  
}

#listClient *{
    background-color: #DDDDDD;
    display: inline-block;

}

#listClient{
    max-width: 40%;
    border: none;
    display: inline-block;
    
}

#listClient div{
    width: 20%;
    border: none;
}

#listClient div:nth-child(even){
    background-color: #f2f2f2;
}

#settings{
    height: auto;
    width: 60%;
    position: absolute;
    display: inline-flex;
    border: none;
}


#clients{
    margin:auto;
    text-align:center;
    height: auto;
    width: auto;
    border: none;
}

#clients div{
    height: auto;
    width: auto;
    border: none;
    text-align:center;
    display: inline-flex;
}