header{
    display: block;
    background-color: #DDDDDD;
}

*{
    margin: 0px;
    font-family: Avenir, sans-serif;
}

header div{
    width: 40%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

#listClient *{
    background-color: #DDDDDD;
    display: inline-block;

}

#listClient{
    max-width: 40%;
    border: none;
    display: inline-block;
    
}

#listClient div{
    width: 20%;
    border: none;
}

#listClient div:nth-child(even){
    background-color: #f2f2f2;
}

#settings{
    height: auto;
    width: 60%;
    position: absolute;
    display: inline-flex;
    border: none;
}


#clients{
    margin:auto;
    text-align:center;
    height: auto;
    width: auto;
    border: none;
}

#clients div{
    height: auto;
    width: auto;
    border: none;
    text-align:center;
    display: inline-flex;
}

.checked {
    color: #ff0000;
    background-color: #ff0000;
}
.hidden {
    display: none;
}