header{
    display: block;
    background-color: #DDDDDD;
}

*{
    margin: 0px;
    font-family: Avenir, sans-serif;
    text-align: centre;
}

header div{
    width: 40%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

#listClient *{
    display: inline-block;

}

#listClient{
    max-width: 40%;
    border: none;
    display: inline-block;
}

#listClient div{
    width: 20%;
    border: none;
}

#listClient div:nth-child(even){
    background-color: #f2f2f2;
}

#listClient div:nth-child(even).checked{
    background-color: #87CEEB;
}


#settings{
    height: auto;
    width: 60%;
    position: absolute;
    display: inline-flex;
    border: none;
}

#clients{
    margin:50 50;
    text-align:center;
    height: auto;
    width: 100%;
    border: none;
    display: inline-flex;
}

.checked {
    color: #ffffff;
    background-color: #00BFFF;
}
.hidden {
    display: none;
}
