body{
  text-align: center;
}

.tv-lightweight-charts{
  display: inline-flex;
}

.topnav {
  overflow: hidden;
  background-color: #3e65ff;
  border: 1px solid black;
}

a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a#accueil:hover {
  transition: 1s;
  background-color: #ddd;
  color: black;
}

a#accueil {
  background-color: #2196F3;
  color: white;
}

a#inscription {
  background-color: #2196F3;
  float: right;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text],[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}
