html, body {
  align-content: center;
  text-align: center;
}

#content{
  align-content: center;
  display: inline-flex;
}

.infoLogement{
  top: 50px;
  left: 15px;
  position: fixed;
}

.navbar {
  width: 100%;
  display: inline-flex;
  background-color: #555;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
}

.navbar a:hover {
  transition: 0.5s;
  background-color: #000;
}

.navbar a.active {
  background-color: #3e65ff;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Blue */
.toggle {
  border-color: #2196F3;
  color: dodgerblue;
  transition: 1s;
}

.toggle:hover {
  transition: 1s;
  background: #2196F3;
  color: white;
}

.footer {
  padding: 5px 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  color: grey;
  text-align: center;
  background-color: black;
}

.footer a{
  color: grey;
  text-decoration: none;
}

.footer a:hover{
  transition: 1s;
  color: white;
  text-decoration: none;
}