html, body {
  align-content: center;
  text-align: center;
  width: 100%;
}

#content{
  align-content: center;
  display: inline-flex;
}

.navbar {
  width: 100%;
  display: inline-flex;
  background-color: #555;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
}

.navbar a:hover {
  transition: 0.5s;
  background-color: #000;
}

.navbar a.active {
  background-color: #3e65ff;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Blue */
.toggle {
  border-color: #2196F3;
  color: dodgerblue;
  transition: 1s;
}

.toggle:hover {
  transition: 1s;
  background: #2196F3;
  color: white;
}

/* Header Admin */

.sidenav {
  text-align: left;
  width: 50px;
  position: fixed;
  top: 52px;
  left: 8px;
  color: white;
  background: #555555;
  padding: 8px 0;
}

.sidenav a{

}
.sidenav a:hover {
  color: #064579;
}

#clients {
  align-content: center;
  display: inline-flex;
  margin-top: 20px;
  margin-left: 80px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
